.bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  width: 40px;
  height: 40px;
  padding: 0;
  opacity: 0.25;
}

.toggle:global(.active) {
  opacity: 1;
}
