/* List */

.card-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (--lg) {
  .card-list {
    justify-content: flex-start;
  }
}

/* Item */

.card-item {
  display: flex;
  justify-content: center;
  width: 45%;
  margin: 0 5px 10px;
}

.card-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (--sm) {
  .card-item {
    width: 22.5%;
  }
}

@media (--lg) {
  .card-item {
    width: 18%;
  }
}

/* No Cards Placeholder */

.no-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

.no-cards-text {
  text-align: center;
}
