:global(.wrapper) {
  padding-left: 10px;
  padding-right: 10px;
}

:global(*,
*::before,
*::after) {
  box-sizing: inherit;
}

:global(body) {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  word-wrap: break-word;

  /* font-family: $font-primary;
  font-size: $font-size;
  line-height: 24px; */

  /* color: $primary-color; */
}

:global(img) {
  max-width: 100%;
  height: auto;
}

:global(a) {
  text-decoration: none;
}

:global(.visually-hidden) {
  position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

/* Beleren */
@font-face {
  font-family: "Beleren";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("~@public/fonts/beleren/beleren-bold.woff") format("woff"); /* Modern Browsers */
  src: local(""),
    url("~@public/fonts/beleren/beleren-bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("~@public/fonts/beleren/beleren-bold.svg#Beleren") format("svg"); /* Legacy iOS */
}

/* Plantin */
@font-face {
  font-family: "Plantin";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~@public/fonts/plantin/plantin.woff2") format("woff2"); /* Modern Browsers */
  src: local(""),
    url("~@public/fonts/plantin/plantin.woff") format("woff"), /* Modern Browsers */
    url("~@public/fonts/plantin/plantin.ttf") format("truetype"), /* Safari, Android, iOS */
    url("~@public/fonts/plantin/plantin.svg#Plantin") format("svg"); /* Legacy iOS */
}
