/* List */

.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (--md) {
  .card-list {
    justify-content: flex-start;
  }
}

/* Item */

.card-item {
  display: flex;
  justify-content: center;
  padding: 0 5px;
}

@media (--sm) {
  .card-item {
    width: 30%;
  }
}

@media (--md) {
  .card-item {
    width: 18%;
  }
}

.card-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* No Cards Placeholder */

.no-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}

/* Pagination */

.pagination-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prev-button {
  justify-self: flex-start;
}

.next-button {
  justify-self: flex-end;
}
