.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;

  margin: 0;
  padding: 0;
}

.card-item {
  display: flex;
  justify-content: center;

  margin: 0 10px 20px;
}

.card-item img {
  width: 205px;
  height: 295px;

  border-radius: 10px;
}
