.card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-item {
  display: flex;
  width: 45%;
  justify-content: center;
  margin: 0 5px 15px;
}

.card-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.no-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
}
