.legality-group:not(:last-child) {
  margin-bottom: 15px;
}

.legality {
  display: inline;
  padding: 5px 8px;
  border-radius: 2px;

  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.not-legal {
  background-color: #aeaeae;
}

.legal {
  background-color: #75986e;
}

.restricted {
  background-color: #fab132;
}

.banned {
  background-color: #fa3625b0;
}

.format {
  margin-bottom: 5px;
}
